# NO compartas este archivo una vez que contenga tus datos.
REDDIT_CLIENT_ID=PON_AQUI_EL_CLIENT_ID
REDDIT_CLIENT_SECRET=PON_AQUI_EL_CLIENT_SECRET
REDDIT_USER_AGENT=windows:centinela-uap:v1.0 (by /u/AdGroundbreaking4634)
